/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




/* GENERAL */

.container{
    max-width: 1200px;
    margin: 0 auto;
}










/* HEADER */

header{
    background-color: #FF6900;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index:1;
}

.navbar-container{
     display: flex;
    justify-content: space-between;
    align-items: center;
} 


ul > li{
    display: inline-block;
    padding: 10px 10px;
}

.logo{
    height: 20px;
    
}

li > a{
    color: white;
}

.header-entity{
    padding: 10px 10px;
    color:white;
}


/* SECTION 1 */

.img-container{
    display: flex;
    justify-content: center;
    margin: 0-10px;
    }
    
    
    
.product-container{
    position: relative;
    width:calc((100% / 3) -20px);
    margin: 0 10px;
}

.model{
    
    width:100% ;
    margin-top: 30px;
  
}

 .sale{
    background-color: red;
    color: white;
    position: absolute;
    left: 0;
    bottom: 300px;
}


.eco{
    background-color: green;
     color: white;
    position: absolute;
    bottom: 300px;
    left: 40px;
    
}

.heart{
    position: absolute;
    right: 0;
    top: 30px;
    font-size: 20px;
    background-color: white;
    padding: 10px;
}

.heart:hover{
    color: red;
}

    
.sale-price{
    color: red;
}

.normal-price{
    text-decoration: line-through;
}  

/* .product-information{
    position: fixed;
} */

.second-row{
    margin-top: 30px;
}